@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width:90%;
    max-width: 1000px;
    height: 90vh;
    background-color: #f1faee;
    margin: auto;
    
}
.container header{
    background-color: #e63946;
    color: #f1faee;
    padding: 50px;
    text-align: center;
}

.container nav{
    background-color: #1d3557;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container nav a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    flex-grow: 1;
}

.container nav a:hover{
    background-color: #0C213D; 
}
.container .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .main aside{
    background-color: #457b9d;
    color:#f1faee;
    padding: 20px;
    flex: 30%;
}
.container .main aside h2{ width: 100%;margin-bottom: 20px;
}
.container .main aside ul{
  width: 100%;   }
.container .main aside ul li{
    list-style: none;
    padding: 5px;
    border: 1px solid #fff; 
    border-radius: 10px; 
    margin: 5px;
}
.container .main aside ul li a{
    color: #f1faee;
    text-decoration: none;
    padding-left: 5px;   
}
.container .main aside ul li:hover{
    background-color: #2D668B;
    border: 1px solid #2D668B; 
    border-radius: 10px;  
}
.container .main section{
    background-color: #a8dadc;
    padding: 20px;
    flex: 70%;
}

.container footer{
    background-color: #1d3557;
    color: #fff;
    padding: 20px;
    text-align: center;
}



@media screen and (max-width:800px){
    .container nav{
        flex-direction: column;
    }
    .container .main{
        flex-direction: column;
    }
}